<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
  <% if (user) { %>
    <h2>Assign a task!</h2>
    <form action="/tasks" method="POST">
      <label>
        <input type="text" name= "description" value =" New Task" autocomplete="off" required>
      </label>
      <button type="submit">Add task</button>
    </form>
  <% } %>
<h1>All tasks!</h1>
<h2>Tasks assigned to you</h2>
<ul>
  <% tasks.forEach(task => { %>
   <li>
    <a href="/tasks/<%=task._id%>"><%= task.description%></a>
    is 
    <% task.completed ? "done" : "pending"%> 
     Completed?
        <input type="checkbox" name="completed">
  </li>
  <% }) %>
</ul>
</section>


<%- include('../partials/footer') %>
